<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title mb-4">Shere.comでまだ体験したことない旅をしよう</p>
            <div class="serch-form">
              <%= form_with url: rooms_serch_path, method: :get, local: true do |f| %>
                <%= f.text_field :keyword, value: @keyword, placeholder: "エリアで探す"%>
                <%= f.submit "検索" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>
      <div class="row">
        <div class="panel-item col-lg-3 col-6">
          <span class="panel-name">東京</span>
          <img class="panel-image" src="/assets/img_tokyo.jpg" /> 
        </div>
        <div class="panel-item col-lg-3 col-6">
          <span class="panel-name">大阪</span>
          <img class="panel-image" src="/assets/img_osaka.jpg" />
        </div>
        <div class="panel-item col-lg-3 col-6">
          <span class="panel-name">京都</span>
          <img class="panel-image" src="/assets/img_kyoto.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>